In [1]:
import pandas as pd

In [2]:
# import glob

# def add_csv():
#     path = '/home/vscode/notebooks/dataset'
#     all_files = glob.glob(path + "/*.csv")

#     li = []
#     for filename in all_files:
#         try:
#             df = pd.read_csv(filename, index_col=None, header=0, encoding="euc-kr")
#         except:
#             df = pd.read_csv(filename, index_col=None, header=0)
#         li.append(df)

#     frame = pd.concat(li, axis=0, ignore_index=True)
#     return frame

In [3]:
# kids_cctv = add_csv()

In [4]:
all_pop = pd.read_csv('./data/all_pop.csv', encoding="euc-kr", header =1)

In [74]:
all_pop[ all_pop["연령별(1)"] == "99세" ]["총인구수 (명)"].sum()

8606

In [75]:
all_pop

     행정구역(시군구)별(1)   연령별(1)  총인구수 (명)  남자인구수 (명)  여자인구수 (명)
0               전국        계  51847509   25862863   25984646
1               전국       0세    289274     148497     140777
2               전국       1세    329017     168882     160135
3               전국       2세    360246     185465     174781
4               전국       3세    407385     208365     199020
...            ...      ...       ...        ...        ...
1831       제주특별자치도      96세       371         28        343
1832       제주특별자치도      97세       251         31        220
1833       제주특별자치도      98세       171         11        160
1834       제주특별자치도      99세        89         13         76
1835       제주특별자치도  100세 이상       269         34        235

[1836 rows x 5 columns]

In [25]:
dic = {
    "행정구역(시군구)별(1)":"행정구역",
    "연령별(1)":"나이",
    "총인구수 (명)":"총계",
    "남자인구수 (명)":"남자",
    "여자인구수 (명)":"여자"
}

all_pop.rename( columns=dic, inplace=True )

In [26]:
all_pop.head(2)

  행정구역  나이        총계        남자        여자
0   전국   계  51847509  25862863  25984646
1   전국  0세    289274    148497    140777

#### 10대까지 데이터 셋 따로
- 어린이(집) => (0세~)1세 ~ 4세
- 유치원생 => 5세 ~ 7세
- 초등학생 => 8세 ~ 13세
- 중학생 => 14세 ~ 16세
- 고등학생 => 17세 ~ 19세

In [27]:
kids_pop = all_pop["나이"]

In [28]:
test = pd.melt( all_pop.loc[:, ["행정구역", "나이", "총계"]], id_vars=['행정구역', '나이'] )
test

         행정구역       나이 variable     value
0          전국        계       총계  51847509
1          전국       0세       총계    289274
2          전국       1세       총계    329017
3          전국       2세       총계    360246
4          전국       3세       총계    407385
...       ...      ...      ...       ...
1831  제주특별자치도      96세       총계       371
1832  제주특별자치도      97세       총계       251
1833  제주특별자치도      98세       총계       171
1834  제주특별자치도      99세       총계        89
1835  제주특별자치도  100세 이상       총계       269

[1836 rows x 4 columns]

In [29]:
state_list = test['행정구역'].unique()
kids_sum_list = list()
for one in state_list:
    tmp = test[ test["행정구역"] == one ]
    li = ["0세", "1세", "2세", "3세", "4세"]
    sum = 0
    for i in li:
#         print( tmp[ tmp["나이"] == i ]["value"] )
        sum = sum + int(tmp[ tmp["나이"] == i ]["value"])
        
    kids_sum_list.append(sum)
kids_sum_list

[1827643,
 298320,
 106825,
 81902,
 106374,
 53415,
 52904,
 46045,
 21923,
 520478,
 47522,
 57125,
 79772,
 56819,
 60654,
 88344,
 122270,
 26951]

In [30]:
kids_pop = pd.DataFrame({
    '행정구역':state_list,
    '어린이(집)':kids_sum_list
})
kids_pop

       행정구역   어린이(집)
0        전국  1827643
1     서울특별시   298320
2     부산광역시   106825
3     대구광역시    81902
4     인천광역시   106374
5     광주광역시    53415
6     대전광역시    52904
7     울산광역시    46045
8   세종특별자치시    21923
9       경기도   520478
10      강원도    47522
11     충청북도    57125
12     충청남도    79772
13     전라북도    56819
14     전라남도    60654
15     경상북도    88344
16     경상남도   122270
17  제주특별자치도    26951

#### 10대까지 데이터 셋 따로
- 어린이(집) => (0세~)1세 ~ 4세
- 유치원생 => 5세 ~ 7세
- 초등학생 => 8세 ~ 13세
- 중학생 => 14세 ~ 16세
- 고등학생 => 17세 ~ 19세

In [13]:
li1 = ["5세", "6세", "7세"]
li2 = ["8세", "9세", "10세", "11세", "12세", "13세"]
li3 = ["14세", "15세", "16세"]
li4 = ["17세", "18세", "19세"]
li_all = li1 + li2 + li3 + li4
sum1_list = list()
sum2_list = list()
sum3_list = list()
sum4_list = list()

for one in state_list:
    tmp = test[ test["행정구역"] == one ]
    sum1 = 0
    sum2 = 0
    sum3 = 0
    sum4 = 0
    for i in li_all:
        if i in li1:
            sum1 = sum1 + int(tmp[ tmp["나이"] == i ]["value"])
        elif i in li2:
            sum2 = sum2 + int(tmp[ tmp["나이"] == i ]["value"])
        elif i in li3:
            sum3 = sum3 + int(tmp[ tmp["나이"] == i ]["value"])
        elif i in li4:
            sum4 = sum4 + int(tmp[ tmp["나이"] == i ]["value"])
        
    sum1_list.append(sum1)
    sum2_list.append(sum2)
    sum3_list.append(sum3)
    sum4_list.append(sum4)
kids_pop["유치원생"] = sum1_list
kids_pop["초등학생"] = sum2_list
kids_pop["중학생"] = sum3_list
kids_pop["고등학생"] = sum4_list

In [14]:
kids_pop.head()

    행정구역   어린이(집)     유치원생     초등학생      중학생     고등학생
0     전국  1827643  1368641  2818543  1398920  1675362
1  서울특별시   298320   214021   447625   232737   284053
2  부산광역시   106825    80509   158842    79551    98687
3  대구광역시    81902    62314   128676    67885    82603
4  인천광역시   106374    79282   163303    79952    94463

## 전체 연령 데이터 셋 따로
- 유아, 10대, 20대, 30대, 40대, 50대, 60대, 70대, 80대, 90대

In [5]:
all_pop = pd.read_csv('./data/all_pop.csv', encoding="euc-kr", header =1)

In [6]:
dic = {
    "행정구역(시군구)별(1)":"행정구역",
    "연령별(1)":"나이",
    "총인구수 (명)":"총계",
    "남자인구수 (명)":"남자",
    "여자인구수 (명)":"여자"
}

all_pop.rename( columns=dic, inplace=True )

In [7]:
test = pd.melt( all_pop.loc[:, ["행정구역", "나이", "총계"]], id_vars=['행정구역', '나이'] )
test.head(2)

  행정구역  나이 variable     value
0   전국   계       총계  51847509
1   전국  0세       총계    289274

In [8]:
import re

In [9]:
age0  = re.compile( '[0-9]세'  )
age10 = re.compile( '1[0-9]세' )
age20 = re.compile( '2[0-9]세' )
age30 = re.compile( '3[0-9]세' )
age40 = re.compile( '4[0-9]세' )
age50 = re.compile( '5[0-9]세' )
age60 = re.compile( '6[0-9]세' )
age70 = re.compile( '7[0-9]세' )
age80 = re.compile( '8[0-9]세' )
age90 = re.compile( '9[0-9]세' )

In [10]:
# re test!
print(re.match(age40,"44세"))
print(re.match(age30,"44세"))

<re.Match object; span=(0, 3), match='44세'>
None

In [11]:
test = pd.melt( all_pop.loc[:, ["행정구역", "나이", "총계"]], id_vars=['행정구역', '나이'] )
test.drop(index=test[test["나이"]=="계"].index, inplace=True) # 계인 인덱스 삭제

In [12]:
test.head(2)

  행정구역  나이 variable   value
1   전국  0세       총계  289274
2   전국  1세       총계  329017

In [13]:
state_list = test['행정구역'].unique()
sum0_list = list()
sum1_list = list()
sum2_list = list()
sum3_list = list()
sum4_list = list()
sum5_list = list()
sum6_list = list()
sum7_list = list()
sum8_list = list()
sum9_list = list()
sum10_list = list()

for one in state_list:
    tmp = test[ test["행정구역"] == one ]
    sum0 = 0
    sum1 = 0
    sum2 = 0
    sum3 = 0
    sum4 = 0
    sum5 = 0
    sum6 = 0
    sum7 = 0
    sum8 = 0
    sum9 = 0
    sum10 = 0
    
    for i in tmp.나이:
        if re.match(age0, i):
            sum0 = sum0 + int(tmp[ tmp["나이"] == i ]["value"])
        elif re.match(age10, i):
            sum1 = sum1 + int(tmp[ tmp["나이"] == i ]["value"])
        elif re.match(age20, i):
            sum2 = sum2 + int(tmp[ tmp["나이"] == i ]["value"])
        elif re.match(age30, i):
            sum3 = sum3 + int(tmp[ tmp["나이"] == i ]["value"])
        elif re.match(age40, i):
            sum4 = sum4 + int(tmp[ tmp["나이"] == i ]["value"])
        elif re.match(age50, i):
            sum5 = sum5 + int(tmp[ tmp["나이"] == i ]["value"])
        elif re.match(age60, i):
            sum6 = sum6 + int(tmp[ tmp["나이"] == i ]["value"])
        elif re.match(age70, i):
            sum7 = sum7 + int(tmp[ tmp["나이"] == i ]["value"])
        elif re.match(age80, i):
            sum8 = sum8 + int(tmp[ tmp["나이"] == i ]["value"])
        elif re.match(age90, i):
            sum9 = sum9 + int(tmp[ tmp["나이"] == i ]["value"])
        else: # 100세 이상
            sum10 = sum10 + int(tmp[ tmp["나이"] == i ]["value"])
 
    sum0_list.append(sum0)
    sum1_list.append(sum1)
    sum2_list.append(sum2)
    sum3_list.append(sum3)
    sum4_list.append(sum4)
    sum5_list.append(sum5)
    sum6_list.append(sum6)
    sum7_list.append(sum7)
    sum8_list.append(sum8)
    sum9_list.append(sum9)
    sum10_list.append(sum10)

In [14]:
pop_cent = pd.DataFrame({
    '행정구역':state_list,
    '유아':sum0_list,
    '10대':sum1_list,
    '20대':sum2_list,
    '30대':sum3_list,
    '40대':sum4_list,
    '50대':sum5_list,
    '60대':sum6_list,
    '70대':sum7_list,
    '80대':sum8_list,
    '90대':sum9_list,
    '100세 이상':sum10_list,
})
pop_cent.head(2)

,행정구역,유아,10대,20대,30대,40대,50대,60대,70대,80대,90대,100세 이상
0,전국,4148654,4940455,6806410,7045120,8389281,8666971,6344284,3607104,1644448,234401,20381
1,서울특별시,660410,816346,1457376,1507127,1562505,1539740,1194854,687085,261722,40019,6325

In [15]:
pop_cent.to_csv('./pop_output/pop_cent.csv', encoding="euc-kr")

In [16]:
age0  = re.compile( '[0-9]세'  ) # drop
age10 = re.compile( '1[0-9]세' ) # 10대
age20 = re.compile( '2[0-9]세' )
age30 = re.compile( '3[0-9]세' )
age40 = re.compile( '4[0-9]세' )
age50 = re.compile( '5[0-9]세' )
age60 = re.compile( '6[0-4]세' ) # 60세 이상
# 나머지 65세 이상

In [17]:
state_list = test['행정구역'].unique()
# sum0_list = list()
sum1_list = list()
sum2_list = list()
sum3_list = list()
sum4_list = list()
sum5_list = list()
sum6_list = list()
sum7_list = list()

for one in state_list:
    tmp = test[ test["행정구역"] == one ]
#     sum0 = 0
    sum1 = 0
    sum2 = 0
    sum3 = 0
    sum4 = 0
    sum5 = 0
    sum6 = 0
    sum7 = 0
    
    for i in tmp.나이:
        if re.match(age0, i):
            continue
        elif re.match(age10, i):
            sum1 = sum1 + int(tmp[ tmp["나이"] == i ]["value"])
        elif re.match(age20, i):
            sum2 = sum2 + int(tmp[ tmp["나이"] == i ]["value"])
        elif re.match(age30, i):
            sum3 = sum3 + int(tmp[ tmp["나이"] == i ]["value"])
        elif re.match(age40, i):
            sum4 = sum4 + int(tmp[ tmp["나이"] == i ]["value"])
        elif re.match(age50, i):
            sum5 = sum5 + int(tmp[ tmp["나이"] == i ]["value"])
        elif re.match(age60, i):
            sum6 = sum6 + int(tmp[ tmp["나이"] == i ]["value"])
        else:
            sum7 = sum7 + int(tmp[ tmp["나이"] == i ]["value"])
 
#     sum0_list.append(sum0)
    sum1_list.append(sum1)
    sum2_list.append(sum2)
    sum3_list.append(sum3)
    sum4_list.append(sum4)
    sum5_list.append(sum5)
    sum6_list.append(sum6)
    sum7_list.append(sum7)

In [18]:
pop_age = pd.DataFrame({
    '행정구역':state_list,
    '10대':sum1_list,
    '20대':sum2_list,
    '30대':sum3_list,
    '40대':sum4_list,
    '50대':sum5_list,
    '60세 이상':sum6_list,
    '65세 이상':sum7_list,
})
pop_age.head(2)

    행정구역      10대      20대      30대      40대      50대   60세 이상   65세 이상
0     전국  4940455  6806410  7045120  8389281  8666971  3775082  8075536
1  서울특별시   816346  1457376  1507127  1562505  1539740   701258  1488747

In [87]:
pop_age.to_csv('./pop_output/pop_age.csv', encoding="euc-kr")

In [76]:
pd.read_csv?

In [127]:
# book_rate = pd.read_csv('./data/latest_book_rate.csv', encoding='euc-kr', skiprows=1)
book_rate = pd.read_csv('./project/독서__지난_1년간__복수응답__13세_이상_인구__2019.csv', encoding='euc-kr', skiprows=1)

In [89]:
book_rate.head(2)

,행정구역별(1),특성별(1),특성별(2),계 (%),인구 1인당 평균독서권수 (권),독서함 (%),독서인구 1인당 평균독서권수 (권),- 잡지류 (%),· 평균 독서 권수 (권),- 교양 서적 (%),· 평균 독서 권수 (권).1,- 직업과 관련한 서적류 (%),· 평균 독서 권수 (권).2,- 생활취미 정보 서적 (%),· 평균 독서 권수 (권).3,- 기타 (%),· 평균 독서 권수 (권).4
0,전국,전체,계,100.0,7.3,50.6,14.4,25.3,5.3,66.9,8.2,37.3,5.5,24.7,4.6,21.1,20.9
1,전국,동·읍면부,동부,100.0,7.7,52.9,14.5,25.4,5.3,67.0,8.3,37.8,5.5,25.2,4.5,21.5,20.7

In [90]:
book_rate.columns

Index(['행정구역별(1)', '특성별(1)', '특성별(2)', '계 (%)', '인구 1인당 평균독서권수 (권)', '독서함 (%)',
       '독서인구 1인당 평균독서권수 (권)', '- 잡지류 (%)', '· 평균 독서 권수 (권)', '- 교양 서적 (%)',
       '· 평균 독서 권수 (권).1', '- 직업과 관련한 서적류 (%)', '· 평균 독서 권수 (권).2',
       '- 생활취미 정보 서적 (%)', '· 평균 독서 권수 (권).3', '- 기타 (%)', '· 평균 독서 권수 (권).4'],
      dtype='object')

In [91]:
dic = {
    "행정구역별(1)":"행정구역",
    "특성별(1)":"대분류",
    "특성별(2)":"소분류",
    "- 잡지류 (%)":"잡지류",
    "· 평균 독서 권수 (권)":"잡지평균권수",
    "- 교양 서적 (%)":"교양서적",
    "· 평균 독서 권수 (권).1":"교양서적평균권수",
    "- 직업과 관련한 서적류 (%)":"직업서적",
    "· 평균 독서 권수 (권).2":"직업서적평균권수",
    "- 생활취미 정보 서적 (%)":"생활취미서적",
    "· 평균 독서 권수 (권).3":"생활취미서적평균권수",
    "- 기타 (%)":"기타서적",
    "· 평균 독서 권수 (권).4":"기타서적평균권수",
}

book_rate.rename( columns=dic, inplace=True )

In [92]:
book_rate

,행정구역,대분류,소분류,계 (%),인구 1인당 평균독서권수 (권),독서함 (%),독서인구 1인당 평균독서권수 (권),잡지류,잡지평균권수,교양서적,교양서적평균권수,직업서적,직업서적평균권수,생활취미서적,생활취미서적평균권수,기타서적,기타서적평균권수
0,전국,전체,계,100.0,7.3,50.6,14.4,25.3,5.3,66.9,8.2,37.3,5.5,24.7,4.6,21.1,20.9
1,전국,동·읍면부,동부,100.0,7.7,52.9,14.5,25.4,5.3,67.0,8.3,37.8,5.5,25.2,4.5,21.5,20.7
2,전국,동·읍면부,읍면부,100.0,5.4,40.2,13.5,24.4,5.3,66.2,7.9,33.9,5.4,21.4,4.9,18.8,22.2
3,전국,성별,남자,100.0,7.7,48.5,15.9,22.8,5.7,60.7,8.5,45.5,5.7,22.1,4.2,25.4,23.1
4,전국,성별,여자,100.0,6.9,52.7,13.0,27.5,4.9,72.5,8.0,29.8,5.1,27.0,4.8,17.1,17.9
5,전국,연령,13∼19세,100.0,13.1,70.9,18.4,16.5,5.3,77.1,9.6,19.3,5.8,15.2,5.3,44.9,18.4
6,전국,연령,15∼19세,-,-,-,-,-,-,-,-,-,-,-,-,-,-
7,전국,연령,20∼29세,100.0,9.8,66.0,14.9,23.8,4.5,66.1,6.8,47.0,5.4,21.7,4.2,28.3,20.7
8,전국,연령,30∼39세,100.0,9.9,63.2,15.6,25.9,4.5,60.9,8.6,44.8,5.5,34.6,4.9,25.2,20.1
9,전국,연령,40∼49세,100.0,9.2,59.0,15.7,26.1,5.4,64.8,8.9,43.4,5.1,27.9,4.5,18.5,26.9
10,전국,연령,50∼59세,100.0,5.2,43.6,11.9,29.7,5.6,66.3,8.3,36.4,6.2,22.3,4.0,8.3,19.2
11,전국,연령,60세 이상,100.0,2.4,26.1,9.2,26.7,6.6,72.8,7.3,16.9,4.8,19.2,4.4,4.1,12.0
12,전국,연령,65세 이상,100.0,1.8,21.2,8.7,25.4,7.5,76.8,7.0,11.6,4.6,15.9,4.1,3.3,8.3
13,전국,교육정도,초졸이하,100.0,3.8,20.9,18.1,17.6,6.0,75.6,10.2,9.7,6.7,15.7,6.2,36.2,21.2
14,전국,교육정도,중 졸,100.0,4.4,36.8,12.0,21.0,4.8,71.3,6.8,15.6,4.6,14.3,3.9,26.7,18.4
15,전국,교육정도,고 졸,100.0,5.8,45.4,12.7,25.5,4.6,65.0,6.9,30.9,4.6,22.8,3.8,21.2,22.5
16,전국,교육정도,대졸이상,100.0,10.9,70.6,15.4,26.6,5.6,66.4,9.1,47.7,5.8,28.5,4.9,18.5,20.2
17,전국,혼인상태,미? 혼,100.0,10.9,65.6,16.6,22.4,4.7,69.1,8.7,39.5,5.7,19.5,4.3,32.4,19.9
18,전국,혼인상태,배우자 있음,100.0,6.4,48.2,13.2,27.3,5.5,64.7,8.0,37.4,5.3,28.8,4.7,14.7,21.9
19,전국,혼인상태,사? 별,100.0,1.4,17.2,7.9,24.9,4.8,78.5,6.1,12.2,4.5,15.8,4.6,4.7,12.8
20,전국,혼인상태,이? 혼,100.0,4.8,37.5,12.7,24.8,5.8,67.9,8.3,28.8,4.8,22.9,3.5,11.5,29.7
21,전국,경제활동상태,취? 업,100.0,7.4,52.2,14.2,26.4,5.4,63.2,8.0,46.6,5.3,24.7,4.2,19.7,21.4
22,전국,경제활동상태,실업 및 비경제활동,100.0,7.0,48.2,14.6,23.4,5.0,72.7,8.5,22.1,6.1,24.6,5.1,23.2,20.1
23,전국,산업,농림어업,100.0,2.0,22.5,8.7,32.1,6.2,54.5,6.7,31.1,4.1,18.5,3.1,8.1,14.9
24,전국,산업,광업·제조업,100.0,6.3,46.9,13.4,23.7,4.6,58.3,6.7,41.0,4.2,25.7,4.5,23.8,23.2
25,전국,산업,사회간접자본?기타서비스업,100.0,8.1,55.7,14.6,26.8,5.5,64.6,8.3,48.2,5.5,24.7,4.2,19.3,21.1
26,전국,직업,전문관리,100.0,13.8,77.1,18.0,25.5,6.2,65.9,10.3,62.4,6.7,25.7,4.5,18.9,22.6
27,전국,직업,사? 무,100.0,9.0,68.9,13.0,25.8,5.6,65.5,6.9,47.8,4.2,25.7,4.0,20.8,19.2
28,전국,직업,서비스판매,100.0,6.1,48.9,12.5,30.1,4.7,63.8,7.2,34.8,4.2,24.4,4.2,18.6,21.6
29,전국,직업,농어업,100.0,2.0,22.6,8.7,32.0,6.3,55.3,6.7,31.1,4.2,18.3,3.1,6.9,16.3
30,전국,직업,기능노무,100.0,4.0,32.9,12.3,23.4,4.6,56.8,6.6,33.0,3.9,23.6,4.2,23.1,22.5
31,전국,종사상지위,임금근로자,100.0,8.0,55.8,14.3,25.2,5.4,64.0,7.8,47.8,5.1,24.9,4.0,21.0,21.4
32,전국,종사상지위,고용주,100.0,7.3,54.4,13.4,35.0,5.3,58.3,8.0,52.3,4.3,23.1,5.0,16.4,21.2
33,전국,종사상지위,자영자,100.0,6.0,39.4,15.1,28.2,5.9,60.0,9.9,41.1,7.3,25.0,5.2,13.7,23.6
34,전국,주관적 만족감,만족,100.0,9.6,63.1,15.2,25.3,5.8,70.2,8.4,40.3,5.6,26.1,4.7,21.4,20.2
35,전국,주관적 만족감,보통,100.0,6.1,44.9,13.5,25.2,4.7,63.8,8.2,34.5,5.3,23.4,4.5,20.0,21.1
36,전국,주관적 만족감,불만족,100.0,5.1,36.5,14.0,25.2,5.1,63.4,7.5,33.8,5.1,23.0,3.9,23.4,22.6
37,전국,가구소득,100만원 미만,100.0,2.9,25.8,11.3,21.7,4.4,73.0,6.9,25.9,5.9,18.1,3.5,16.5,18.7
38,전국,가구소득,100∼200만원 미만,100.0,4.8,36.3,13.3,25.8,4.7,67.5,9.1,26.7,4.9,21.9,4.4,18.3,20.3
39,전국,가구소득,200∼300만원 미만,100.0,6.7,46.7,14.4,25.1,5.2,63.1,7.8,34.2,5.4,25.2,4.6,22.7,22.9
40,전국,가구소득,300∼400만원 미만,100.0,7.5,53.3,14.1,25.1,4.9,62.3,8.1,34.1,4.7,25.5,4.5,21.5,23.6
41,전국,가구소득,400~500만원 미만,100.0,8.0,59.5,13.5,23.6,5.5,67.6,7.5,40.0,5.3,25.6,4.6,22.3,17.4
42,전국,가구소득,500∼600만원 미만,100.0,9.3,62.2,14.9,24.9,5.2,69.0,8.0,40.9,5.8,26.0,4.8,22.9,19.4
43,전국,가구소득,600만원 이상,100.0,11.4,69.8,16.3,27.7,5.9,70.1,9.2,46.9,6.0,25.4,4.7,20.2,21.1
44,전국,연령*성별,15~19세*남자,-,-,-,-,-,-,-,-,-,-,-,-,-,-
45,전국,연령*성별,15~19세*여자,-,-,-,-,-,-,-,-,-,-,-,-,-,-
46,전국,연령*성별,13~19세*남자,100.0,12.7,66.6,19.1,15.3,6.2,73.1,9.2,16.9,5.8,15.4,6.5,51.3,18.5
47,전국,연령*성별,13~19세*여자,100.0,13.4,75.5,17.8,17.5,4.6,80.9,9.9,21.7,5.7,15.0,4.2,38.9,18.3
48,전국,연령*성별,20∼29세*남자,100.0,9.6,59.3,16.2,18.8,4.5,60.6,6.8,51.9,5.8,19.3,3.7,32.0,23.4
49,전국,연령*성별,20∼29세*여자,100.0,10.1,72.9,13.8,28.0,4.5,70.7,6.8,43.0,5.0,23.8,4.6,25.2,17.7
50,전국,연령*성별,30∼39세*남자,100.0,9.7,56.7,17.0,25.2,4.4,54.2,8.4,55.6,5.6,26.5,4.4,31.0,22.9
51,전국,연령*성별,30∼39세*여자,100.0,10.1,70.2,14.4,26.6,4.6,66.8,8.7,35.4,5.3,41.7,5.2,20.2,16.3
52,전국,연령*성별,40∼49세*남자,100.0,9.4,53.6,17.5,22.7,6.3,56.4,8.6,55.9,5.3,24.4,3.5,25.5,29.2
53,전국,연령*성별,40∼49세*여자,100.0,9.1,64.5,14.0,29.1,4.8,71.9,9.2,32.7,4.8,30.9,5.2,12.5,22.8
54,전국,연령*성별,50∼59세*남자,100.0,5.9,41.3,14.2,27.0,6.2,58.3,9.9,51.0,6.6,22.7,3.7,10.6,23.4
55,전국,연령*성별,50∼59세*여자,100.0,4.5,45.9,9.8,32.1,5.1,73.6,7.1,23.3,5.3,21.9,4.2,6.2,12.7
56,전국,연령*성별,60세 이상*남자,100.0,3.2,30.4,10.6,25.7,7.3,69.2,8.4,24.3,4.8,20.8,5.1,5.9,12.8
57,전국,연령*성별,60세 이상*여자,100.0,1.7,22.7,7.7,27.8,6.0,76.9,6.2,8.8,4.8,17.4,3.6,2.1,9.4
58,전국,연령*성별,65세 이상*남자,100.0,2.5,25.9,9.8,23.5,8.6,74.4,7.8,15.9,4.9,16.9,4.7,4.6,9.2
59,전국,연령*성별,65세 이상*여자,100.0,1.3,17.6,7.6,27.4,6.6,79.5,6.2,6.9,3.9,14.7,3.4,1.7,5.7

In [93]:
book_rate_age = book_rate[book_rate['대분류'] == '연령']
change = ['10대', '20대', '30대', '40대', '50대', '60세 이상', '65세 이상']

In [94]:
book_rate_age.columns

Index(['행정구역', '대분류', '소분류', '계 (%)', '인구 1인당 평균독서권수 (권)', '독서함 (%)',
       '독서인구 1인당 평균독서권수 (권)', '잡지류', '잡지평균권수', '교양서적', '교양서적평균권수', '직업서적',
       '직업서적평균권수', '생활취미서적', '생활취미서적평균권수', '기타서적', '기타서적평균권수'],
      dtype='object')

In [108]:
book_rate_1 = book_rate_age.iloc[:, range(2,len(book_rate_age.columns))].T
book_rate_1

,5,6,7,8,9,10,11,12
소분류,13∼19세,15∼19세,20∼29세,30∼39세,40∼49세,50∼59세,60세 이상,65세 이상
계 (%),100.0,-,100.0,100.0,100.0,100.0,100.0,100.0
인구 1인당 평균독서권수 (권),13.1,-,9.8,9.9,9.2,5.2,2.4,1.8
독서함 (%),70.9,-,66.0,63.2,59.0,43.6,26.1,21.2
독서인구 1인당 평균독서권수 (권),18.4,-,14.9,15.6,15.7,11.9,9.2,8.7
잡지류,16.5,-,23.8,25.9,26.1,29.7,26.7,25.4
잡지평균권수,5.3,-,4.5,4.5,5.4,5.6,6.6,7.5
교양서적,77.1,-,66.1,60.9,64.8,66.3,72.8,76.8
교양서적평균권수,9.6,-,6.8,8.6,8.9,8.3,7.3,7.0
직업서적,19.3,-,47.0,44.8,43.4,36.4,16.9,11.6
직업서적평균권수,5.8,-,5.4,5.5,5.1,6.2,4.8,4.6
생활취미서적,15.2,-,21.7,34.6,27.9,22.3,19.2,15.9
생활취미서적평균권수,5.3,-,4.2,4.9,4.5,4.0,4.4,4.1
기타서적,44.9,-,28.3,25.2,18.5,8.3,4.1,3.3
기타서적평균권수,18.4,-,20.7,20.1,26.9,19.2,12.0,8.3

In [109]:
book_rate_1.to_csv('./pop_output/book_rate_mid.csv', encoding="euc-kr")

In [125]:
book_rate_test = pd.read_csv('./pop_output/book_rate_mid.csv', encoding="euc-kr", skiprows=1)

del book_rate_test["15∼19세"]

dic = {
    "13∼19세":"10대",
    "20∼29세":"20대",
    "30∼39세":"30대",
    "40∼49세":"40대",
    "50∼59세":"50대",
}

book_rate_test.rename( columns=dic, inplace=True )

book_rate_test.drop(index=book_rate_test[book_rate_test["소분류"]=="계 (%)"].index, inplace=True) # 계인 인덱스 삭제


li = [ 2019 for i in range(0,book_rate_test.shape[0])]
book_rate_test['연도'] = li

book_rate_test

                    소분류   10대   20대   30대   40대   50대  60세 이상  65세 이상    연도
1     인구 1인당 평균독서권수 (권)  13.1   9.8   9.9   9.2   5.2     2.4     1.8  2019
2               독서함 (%)  70.9  66.0  63.2  59.0  43.6    26.1    21.2  2019
3   독서인구 1인당 평균독서권수 (권)  18.4  14.9  15.6  15.7  11.9     9.2     8.7  2019
4                   잡지류  16.5  23.8  25.9  26.1  29.7    26.7    25.4  2019
5                잡지평균권수   5.3   4.5   4.5   5.4   5.6     6.6     7.5  2019
6                  교양서적  77.1  66.1  60.9  64.8  66.3    72.8    76.8  2019
7              교양서적평균권수   9.6   6.8   8.6   8.9   8.3     7.3     7.0  2019
8                  직업서적  19.3  47.0  44.8  43.4  36.4    16.9    11.6  2019
9              직업서적평균권수   5.8   5.4   5.5   5.1   6.2     4.8     4.6  2019
10               생활취미서적  15.2  21.7  34.6  27.9  22.3    19.2    15.9  2019
11           생활취미서적평균권수   5.3   4.2   4.9   4.5   4.0     4.4     4.1  2019
12                 기타서적  44.9  28.3  25.2  18.5   8.3     4.1     3.3  2019
13             기타서적평균권수  18.4  20.7  20.1  26.9  19.2    12.0     8.3  2019